* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #212121;
  margin: 0 auto;
}
html {
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: clamp(22rem, 100vw, 41.625rem);
  padding: 0 1rem;
}
.header {
  width: clamp(20rem, 100vw, 41.625rem);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  section {
    width: clamp(48rem, 100vw, 62rem);
  }
  .header {
    width: clamp(48rem, 100vw, 62rem);
  }
  html {
    font-size: 114%;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    width: clamp(48rem, 100vw, 62rem);
  }
  .header {
    width: clamp(48rem, 100vw, 62rem);
  }
  html {
    font-size: 125%;
  }
}
