<section id="description">
  <div class="description">
  <div class="descTitle">
    <h1 class="descTitleText">How it Works</h1>
  </div>

  <div id="desc">
    
    <div class="descImage">
      <img src="./images/description/3.png" alt="planet" />
    </div>
    <div><h2 class="descSecondTitle">Make a Difference</h2></div>
    <div class="textWrapper">
      <p class="infoText">
        Small steps can lead to bigger changes, and now you are the change.
        Let's build community of people who care
      </p>
    </div>
  </div>
   <div class="btnDescWrap">
      <button type="button" class="btn">
        <a href="#subscribe" class="btnText">Get the Box</a>
      </button>
      </div>
</section>
