<section id="description">
  
  <div class="desc-title">
    <h1 class="desc-title--text">How it Works</h1>
  </div>

  <div id="desc" class="desc">
    <!-- script description.js -->
    <div class="desc-Card">
    <div class="desc-image">
      <img src="./images/description/3.png" alt="planet" />
    </div>
    <div><h2 class="desc-secondTitle">Make a Difference</h2></div>
    <div class="desc-textWrapper">
      <p class="infoText">
        Small steps can lead to bigger changes, and now you are the change.
        Let's build community of people who care
      </p>
    </div>
  </div>
      </div>

   <div class="desc-btnWrap">
      <button type="button" class="btn">
        <a href="#subscribe" class="btnText">Get the Box</a>
      </button>
</section>
