<header id="header" class="header">
  <!--               -------- MOBILE MENU ------------            -->
  <div>
    <div class="mobile">
      <div class="logo">
        <a href="">
          <img
            src="./images/header/logo.svg"
            alt="logo"
            width="96"
            height="50"
          />
        </a>
      </div>
      <button type="button" class="menuBtn mob-menu-open">
        <img
          src="./images/header/hamburger-menu.png"
          alt="menu"
          width="17"
          height="11"
        />
      </button>
    </div>
    <div class="mob-menu is-hidden">
      <div class="mobContainer">
        <div class="mob-menuTop">
          <div class="logo">
            <a href="">
              <img
                src="./images/header/logo.svg"
                alt="logo"
                width="96"
                height="50"
              />
            </a>
          </div>
          <div>
            <button type="button" class="mob-menu-close">
              <img
                src="./images/header/close.svg"
                alt="close"
                class="mob-close-icon"
              />
            </button>
          </div>
        </div>
        <div class="mob-menuBottom">
          <ul class="mob-menu--list">
            <li class="mob-menu--item">
              <button
                type="button"
                class="mob-menu--button"
                id="mob-menu--button1"
              >
                <a href="#main" class="mob-menu--link">Home</a>
              </button>

              <div class="mob-menu--line">
                <img src="./images/common/line.svg" alt="curved line" />
              </div>
            </li>
            <li class="mob-menu--item">
              <button
                type="button"
                class="mob-menu--button"
                id="mob-menu--button2"
              >
                <a href="#monthly" class="mob-menu--link">What's inside</a>
              </button>

              <div class="mob-menu--line">
                <img src="./images/common/line.svg" alt="curved line" />
              </div>
            </li>
            <li class="mob-menu--item">
              <button
                type="button"
                class="mob-menu--button"
                id="mob-menu--button3"
              >
                <a href="#news" class="mob-menu--link">Kiwi Eco Box</a>
              </button>

              <div class="mob-menu--line">
                <img src="./images/common/line.svg" alt="curved line" />
              </div>
            </li>
            <li class="mob-menu--item">
              <button
                type="button"
                class="mob-menu--button"
                id="mob-menu--button4"
              >
                <a href="#description" class="mob-menu--link">About</a>
              </button>

              <div class="mob-menu--line">
                <img src="./images/common/line.svg" alt="curved line" />
              </div>
            </li>
            <li class="mob-menu--item">
              <button
                type="button"
                class="mob-menu--button"
                id="mob-menu--button5"
              >
                <a href="#subscribe" class="mob-menu--link">Account</a>
              </button>
            </li>
          </ul>
          <div class="mob-menu-Ellipses">
            <div class="mob-menuEllipse1">
              <img src="./images/header/ellipse1.png" alt="ellipse1" />
            </div>
            <div class="mob-menuEllipse2">
              <img src="./images/header/ellipse2.png" alt="ellipse2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ul class="list">
    <li class="item"><a class="textMain">HOME</a></li>
    <li class="item"><a class="textMain">BOXES</a></li>

    <li class="item"><a class="textMain">ABOUT</a></li>
    <li class="item"><a class="textMain">ACCOUNT</a></li>
  </ul> -->
</header>
