<section id="main" class="main">
  <div class="container">
    <div class="mainTextContainer">
      <h2 class="mainTitleText">Everything You Need</h2>
      <div class="secondaryText">
        <h3 class="mainSecondText">to Start Living</h3>
        <h3 class="mainSecondText">Zero-Waste</h3>
      </div>
    </div>
    <div class="images">
      <ul class="firstImages-list">
        <!-- <li class="firstImages-item">
          <div class="firstImages-item--ellipseTr">
            <img
              src="./images/common/ellipseTransparent.svg"
              alt="ellipse Transparent"
            />
          </div>
          <div class="firstImages-item--image">
            <img src="./images/main/woodenBox.png" alt="woodenBox" />
          </div>
        </li>
        <li class="firstImages-item">
          <div class="firstImages-item--ellipseTr">
            <img
              src="./images/common/ellipseTransparent.svg"
              alt="ellipse Transparent"
            />
          </div>
          <div class="firstImages-item--image">
            <img src="./images/main/woodenBox.png" alt="woodenBox" />
          </div>
        </li>
        <li class="firstImages-item">
          <div class="firstImages-item--ellipseTr">
            <img
              src="./images/common/ellipseTransparent.svg"
              alt="ellipse Transparent"
            />
          </div>
          <div class="firstImages-item--image">
            <img src="./images/main/woodenBox.png" alt="woodenBox" />
          </div>
        </li>
        <li class="firstImages-item">
          <div class="firstImages-item--ellipseTr">
            <img
              src="./images/common/ellipseTransparent.svg"
              alt="ellipse Transparent"
            />
          </div>
          <div class="firstImages-item--image">
            <img src="./images/main/woodenBox.png" alt="woodenBox" />
          </div>
        </li> -->
      </ul>

      <!--                 -----------first images-----------                -->

      <ul class="lines-list">
        <li class="lines-item">
          <div class="lines-item--first">
            <img src="./images//main/firstline.svg" alt="firstline" />
          </div>
        </li>
        <li class="lines-item">
          <div class="lines-item--second">
            <img src="./images/main/secondLine.svg" alt="secondLine" />
          </div>
        </li>
        <li class="lines-item">
          <div class="lines-item--third">
            <img src="./images/main/thirdLine.svg" alt="thirdLine" />
          </div>
        </li>
        <li class="lines-item">
          <div class="lines-item--fourth">
            <img src="./images/main/fourthLine.svg" alt="fourthLine" />
          </div>
        </li>
      </ul>
      <!-- <div class="lines">
        <div><img src="./images//main/firstline.svg" alt="firstline" /></div>
        <div><img src="./images/main/secondLine.svg" alt="secondLine" /></div>
        <div><img src="./images/main/thirdLine.svg" alt="thirdLine" /></div>
        <div><img src="./images/main/fourthLine.svg" alt="fourthLine" /></div>
      </div> -->

      <!--                     -------lines-----------                  -->

      <div class="mainImages">
        <div class="ellipse">
          <img src="./images/common/ellipse.svg" alt="ellipse" />
        </div>
        <div class="ellipseBold">
          <img src="./images/common/ellipseBold .svg" alt="ellipseBold" />
        </div>
        <div class="boxImage">
          <img src="./images/main/box.png" alt="box" />
        </div>
      </div>
    </div>
    <!--                               ---------main images-------------                  -->
    <div class="mainBtn">
      <button type="button" class="btn">
        <p class="btnText">START NOW</p>
      </button>
    </div>
  </div>
</section>
