<section id="main" class="main">
  <div class="container">
    <div class="mainTextContainer">
      <h2 class="mainTitleText">Everything You Need</h2>
      <div class="secondaryText">
        <h3 class="mainSecondText">to Start Living</h3>
        <h3 class="mainSecondText">Zero-Waste</h3>
      </div>
    </div>
    <div class="images">
      <div class="firstImages-list">
        <!-- srcipt js 'main.js' -->
      </div>
      <!--                 -----------first images-----------                -->

      <!-- <div class="lines">
        <div><img src="./images//main/firstline.svg" alt="firstline" /></div>
        <div><img src="./images/main/secondLine.svg" alt="secondLine" /></div>
        <div><img src="./images/main/thirdLine.svg" alt="thirdLine" /></div>
        <div><img src="./images/main/fourthLine.svg" alt="fourthLine" /></div>
      </div> -->

      <!--                     -------lines-----------                  -->

      <div class="mainImages">
        <div class="ellipse">
          <img src="./images/common/ellipse.svg" alt="ellipse" />
        </div>
        <div class="ellipseBold">
          <img src="./images/common/ellipseBold .svg" alt="ellipseBold" />
        </div>
        <div class="boxImage">
          <img src="./images/main/box.png" alt="box" />
        </div>
      </div>
    </div>
    <!--                               ---------main images-------------                  -->
    <div>
      <button type="button" class="btn">
        <p class="btnText">START NOW</p>
      </button>
    </div>
  </div>
</section>
