<section id="mission">
  <div class="mission">
    <div>
      <img src="./images/common/line.svg" alt="curved line" />
    </div>
    <div class="missionPreTitle">
      <p class="turquoiseText">OUR MISSION</p>
    </div>
    <div class="missionTitle">
      <h1 class="mainTitleText2">
        We are here to help you live greener and more sustainably
      </h1>
    </div>
    <div class="missionAfterTitle">
      <img
        src="./images/mission/smallStepsMatter.svg"
        alt="Small Steps Matter"
      />
    </div>
    <div class="missionImage">
      <img src="./images/mission/feets.svg" alt="feets" />
    </div>
  </div>
</section>
