<section id="mission">
  <div class="mission">
    <div class="missionLine">
      <img src="./images/mission/line.svg" alt="line" />
    </div>
    <div class="mission-text">
      <div class="mission-preTitile">
        <div>
          <img src="./images/common/line.svg" alt="curved line" />
        </div>
        <div class="mission-preTitile--text">
          <p class="turquoiseText">OUR MISSION</p>
        </div>
      </div>

      <div class="missionTitle">
        <h1 class="mainTitleText2 missionTitle-text">
          We are here to help you live greener and more sustainably
        </h1>
      </div>
      <div class="missionAfterTitle">
        <h2 class="mainSecondText missionAfterTitle-text">
          Small steps matter
        </h2>
      </div>
    </div>

    <div>
      <div class="missionImage">
        <img src="./images/mission/feets.svg" alt="feets" />
      </div>
    </div>
  </div>
</section>
