<section id="monthly">
  <div class="monthly">

<div class="monthDeskImages">
  <div class="monthPreImages">
      <div class="monthPreImages-ledder">
        <img src="./images/main/ladder.png" alt="ladder">
      </div>
      <div class="monthPreImages-jar">
        <img src="./images/main/jar.png" alt="jar" >
      </div>
      <div class="monthPreImages-bag">
        <img src="./images/monthly/bag.png" alt="bag" width="232">
      </div>
     
        <div class="monthPreImages-lines--top">
            <img src="./images/monthly/topLine.svg" alt="top Line">
        </div>
        <div class="monthPreImages-lines--bottom">
           <img src="./images/monthly/bottomLine.svg" alt="bottom Line">
        </div>


  </div>

      

    <div class="monthFirstImage">
        <img src="./images/monthly/1.png" alt="box1" width="320"height="350"/>
      </div>
      <div class="monthSecondImage">
        <img src="./images/monthly/2.png" alt="box2"  width="320" height="350"/>
      </div>
</div>

         <div class="monthPreImages-monstera">
        <img src="./images/monthly/monstera.png" alt="monstera">
        </div>
<div class="month-info">

    <div class="month-title">
       <div class="monthLine">
      <img src="./images/common/line.svg" alt="curved line" />
    </div>
    <div><h1 class="textMain">BOX OF A MONTH</h1></div>
    </div>
   
    <div class="month-info--text">
      <p class="infoText month-info--textStyle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum
      </p>
    </div>
    <div class="monthImages">
      <div class="monthFirstImage">
        <img src="./images/monthly/1.png" alt="box1"/>
      </div>
      <div class="monthSecondImage">
        <img src="./images/monthly/2.png" alt="box2" />
      </div>
      <div class="monthEllipse">
        <img src="./images/common/ellipse.svg" alt="ellipse" />
      </div>
      <div class="monthTurEllipse">
        <img
          src="./images/common/turquoiseEllipse.svg"
          alt="turquoiseEllipse"
        />
      </div>
    </div>
    <div class="btnMonthWrap">
      <button type="button" class="btn">
        <p class="btnText">See What's Inside</p>
      </button>
  </div>
  </div>
</section>
