<section id="nav">
  <div class="straightLine"></div>

  <div class="nav">
    <ul class="navList">
      <li class="navItem">
        <div class="navLogo">
          <a href="" class="navItemLink">
            <img src="./images/header/logo.svg" alt="Logo" />
          </a>
        </div>
      </li>
      <li class="navItem">
        <a href="#main" class="navItemLink"> Home </a>
      </li>
      <li class="navItem">
        <a href="#description" class="navItemLink"> What's inside </a>
      </li>
      <li class="navItem">
        <a href="#monthly" class="navItemLink"> Kiwi Eco Box </a>
      </li>
      <li class="navItem">
        <a href="#mission" class="navItemLink"> About </a>
      </li>
      <li class="navItem">
        <a href="#posts" class="navItemLink"> Account </a>
      </li>
      <li class="navItem">
        <a href="#news" class="navItemLink"> blog </a>
      </li>
      <li class="navItem">
        <a href="#reviews" class="navItemLink"> Faq </a>
      </li>
      <li class="navItem">
        <a href="#subscribe" class="navItemLink"> CONTACT US </a>
      </li>
    </ul>
    <ul class="navSocialList">
      <li class="navSocialItem">
        <a href="https://www.facebook.com/">
          <img src="./images/navigation/facebook.svg" alt="facebook" />
        </a>
      </li>
      <li class="navSocialItem">
        <a href="https://www.instagram.com/">
          <img src="./images/navigation/instagram.svg" alt="instagram" />
        </a>
      </li>
      <li class="navSocialItem">
        <a href="https://twitter.com/">
          <img src="./images/navigation/twitter.svg" alt="twitter" />
        </a>
      </li>
      <li class="navSocialItem">
        <a href="https://www.youtube.com/">
          <img src="./images/navigation/youtube.svg" alt="youtube" />
        </a>
      </li>
    </ul>
  </div>

  <div class="straightLine"></div>
</section>
