<section id="nav">
  <div class="straightLine"></div>

  <div class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <div class="navLogo">
          <a href="" class="nav-item--link">
            <img src="./images/header/logo.svg" alt="Logo" />
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#main" class="nav-item--link"> Home </a>
      </li>
      <li class="nav-item">
        <a href="#description" class="nav-item--link"> What's inside </a>
      </li>
      <li class="nav-item">
        <a href="#monthly" class="nav-item--link"> Kiwi Eco Box </a>
      </li>
      <li class="nav-item">
        <a href="#mission" class="nav-item--link"> About </a>
      </li>
      <li class="nav-item">
        <a href="#posts" class="nav-item--link"> Account </a>
      </li>
      <li class="nav-item">
        <a href="#news" class="nav-item--link"> blog </a>
      </li>
      <li class="nav-item">
        <a href="#reviews" class="nav-item--link"> Faq </a>
      </li>
      <li class="nav-item">
        <a href="#subscribe" class="nav-item--link"> CONTACT US </a>
      </li>
    </ul>
    <ul class="navSocial-list">
      <li class="navSocial-item">
        <a href="https://www.facebook.com/">
          <img src="./images/navigation/facebook.svg" alt="facebook" />
        </a>
      </li>
      <li class="navSocial-item">
        <a href="https://www.instagram.com/">
          <img src="./images/navigation/instagram.svg" alt="instagram" />
        </a>
      </li>
      <li class="navSocial-item">
        <a href="https://twitter.com/">
          <img src="./images/navigation/twitter.svg" alt="twitter" />
        </a>
      </li>
      <li class="navSocial-item">
        <a href="https://www.youtube.com/">
          <img src="./images/navigation/youtube.svg" alt="youtube" />
        </a>
      </li>
    </ul>
  </div>

  <div class="straightLine"></div>
</section>
