<section id="news">
  <div class="news">
    <div class="newsTitle">
      <h1 class="textMainSecond">What's new in blog?</h1>
    </div>
    <div class="newsCard">
      <div class="newsCardImage">
        <img src="./images/news/1.png" alt="box" />
      </div>
      <div class="newsCard-info">
        <div>
          <h2 class="newsCard-info--title">Why KIWI Eco Box?</h2>
        </div>
        <div>
          <img src="./images/common/line.svg" alt="curved line" />
        </div>
        <div>
          <p class="infoText newsCard-info--text">
            Get started by signing up for monthly subscription. We bring you an
            easy way to start your zero-waste journey
          </p>
        </div>
        <div>
          <button type="button" class="newsCard-btn">
            <img src="./images/news/newsButton.svg" alt="READ MORE" />
          </button>
        </div>
      </div>
    </div>
    <div class="news-bottomLine">
      <img src="./images/news/bottomLine.svg" alt="bottomLine" />
    </div>
  </div>
</section>
