<section id="news">
  <div class="news">
    <div class="newsTitle">
      <h1 class="textMainSecond">What's new in blog?</h1>
    </div>

    <div class="swiper sample-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide newsCard">
          <div class="newsCardImage">
            <img src="./images/news/1.png" alt="box" />
          </div>
          <div class="newsCard-info">
            <div>
              <h2 class="newsCard-info--title">Why KIWI Eco Box?</h2>
            </div>
            <div>
              <img src="./images/common/line.svg" alt="curved line" />
            </div>
            <div>
              <p class="infoText newsCard-info--text">
                Get started by signing up for monthly subscription. We bring you
                an easy way to start your zero-waste journey
              </p>
            </div>
            <div>
              <button type="button" class="swiper-button-next newsCard-btn">
                <img src="./images/news/newsButton.svg" alt="READ MORE" />
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide newsCard">
          <div class="newsCardImage">
            <img src="./images/news/2.png" alt="women with box" />
          </div>
          <div class="newsCard-info">
            <div>
              <h2 class="newsCard-info--title">
                What Is Inside The April Kiwi Eco Box? Portable Lunch Box
              </h2>
            </div>
            <div>
              <img src="./images/common/line.svg" alt="curved line" />
            </div>
            <div>
              <p class="infoText newsCard-info--text">
                Every month receive your box with essential products, but
                plastic free and safe for the environment
              </p>
            </div>
            <div>
              <button type="button" class="swiper-button-next newsCard-btn">
                <img src="./images/news/newsButton.svg" alt="READ MORE" />
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide newsCard">
          <div class="newsCardImage">
            <img src="./images/news/3.png" alt="box" />
          </div>
          <div class="newsCard-info">
            <div>
              <h2 class="newsCard-info--title">Make a Difference</h2>
            </div>
            <div>
              <img src="./images/common/line.svg" alt="curved line" />
            </div>
            <div>
              <p class="infoText newsCard-info--text">
                Small steps can lead to bigger changes, and now you are the
                change. Let's build community of people who care
              </p>
            </div>
            <div>
              <button type="button" class="swiper-button-next newsCard-btn">
                <img src="./images/news/newsButton.svg" alt="READ MORE" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
