<section id="posts">
  <div class="posts">
    <div class="postPreTitle">
      <p class="turquoiseText">
        Join the conversation an help us create a new world!
      </p>
    </div>
    <div class="postTitle">
      <h1 class="textMainSecond">Recent Posts</h1>
    </div>

    <ul class="mobPostImages-list">
      <li class="mobPostImages-item">
        <img src="./images/posts/1.png" alt="gift" />
      </li>
      <li class="mobPostImages-item">
        <img src="./images/posts/2.png" alt="box" />
      </li>
      <li class="mobPostImages-item">
        <img src="./images/posts/3.png" alt="women and box" />
      </li>
      <li class="mobPostImages-item">
        <img src="./images/posts/4.png" alt="thanks" />
      </li>
    </ul>

    <div class="post-preImages">
      <div class="postPreImages-ellipse">
        <img
          src="./images/common/turquoiseEllipse.svg"
          alt="turquoiseEllipse"
          width="66"
        />
      </div>
      <div class="postPreImages-text">
        <h2 class="postPreImages-textStyled">Instagram</h2>
      </div>
    </div>
    <ul class="postImages-list">
      <div class="postImages-list--first">
        <li class="postImages-item">
          <img src="./images/posts/1desc.png" alt="gift" />
        </li>
        <li class="postImages-item">
          <img src="./images/posts/2desc.png" alt="box" />
        </li>
        <li class="postImages-item">
          <img src="./images/posts/3desc.png" alt="women and box" />
        </li>
        <li class="postImages-item">
          <img src="./images/posts/4desc.png" alt="thanks" />
        </li>
      </div>
      <li class="postImages-item postImages-item--big">
        <img src="./images/posts/5desc.png" alt="" />
      </li>
      <div class="postImages-list--second">
        <li class="postImages-item">
          <img src="./images/posts/6desc.png" alt="" />
        </li>
        <li class="postImages-item">
          <img src="./images/posts/7desc.png" alt="" />
        </li>
      </div>
    </ul>
  </div>
</section>
