<section id="posts">
  <div class="posts">
    <div class="postPreTitle">
      <p class="turquoiseText">
        Join the conversation an help us create a new world!
      </p>
    </div>
    <div class="postTitle">
      <h1 class="textMainSecond">Recent Posts</h1>
    </div>

    <div class="postImages">
      <div class="postItem">
        <img src="./images/posts/1.png" alt="gift" />
      </div>
      <div class="postItem">
        <img src="./images/posts/2.png" alt="box" />
      </div>
      <div class="postItem">
        <img src="./images/posts/3.png" alt="women and box" />
      </div>
      <div class="postItem">
        <img src="./images/posts/4.png" alt="thanks" />
      </div>
    </div>
  </div>
</section>
