<section id="reviews">
  <div class="reviews">
    <div>
      <p class="turquoiseText">What do our</p>
    </div>
    <div class="rev-title">
      <h1 class="textMainSecond">clients say</h1>
    </div>

    <div class="revCard">
      <div class="revCard-wrap">
        <div class="revCard-images">
          <div>
            <img src="./images/reviews/“.svg" alt="Quotes" />
          </div>
          <div class="revCard-images--photo">
            <img
              src="./images/reviews/jessica.png"
              alt="Reviewer photo"
              class="photo"
            />
          </div>
        </div>
        <div class="revCard-info">
          <div>
            <h2 class="revCard-info--nameText">Jessica T.</h2>
          </div>
          <div class="revCard-infoRate">
            <img
              src="./images/reviews/rateStars.png"
              alt="Rate stars"
              width="92"
              height="16"
            />
            <p class="revCard-infoRate--text">5/5</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/common/line.svg" alt="curved line" />
    </div>
    <div class="rev-text">
      <p class="infoText rev-text--scroll">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.<br />
        <br />
        Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      </p>
    </div>
    <div class="revCard-arrows">
      <button type="button" class="revCard-arrows--left">
        <img src="./images/reviews/arrowLeft.svg" alt="Arrrow Left" />
      </button>
      <button type="button" class="revCard-arrows--right">
        <img src="./images/reviews/arrowRight.svg" alt="Arrrow Right" />
      </button>
    </div>
  </div>
</section>
