<section id="subscribe">
  <div class="sub">
    <div>
      <img src="./images/common/line.svg" alt="curved line" />
    </div>
    <div class="subPreTitle">
      <p class="turquoiseText">Stay in the know</p>
    </div>
    <div class="subTitle">
      <h1 class="textMainSecond">
        Hear about the latest sneak peaks and spoilers
      </h1>
    </div>
    <div>
      <img src="./images/subscribe/1png.png" alt="box" />
    </div>
    <div class="subText">
      <p class="mainTitleText">
        GET CAUSEBOX DELIVERED DIRECTLY
        <span class="subBlueText">TO YOUR INBOX!</span>
      </p>
    </div>
    <div class="subForm">
      <form autocomplete="off">
        <input
          type="email"
          name="email"
          placeholder="Your email adress"
          class="subFormInput"
        />
        <button type="submit" class="btn">
          <p class="btnText">SING UP</p>
        </button>
        <p class="policyText">
          By clicking "sign up" you agree to receive emails from CAUSEBOX and
          accept our web
          <a href="https://www.google.com/" class="policyLink">terms of use</a>
          and
          <a href="https://www.google.com/" class="policyLink"
            >privacy and cookie policy</a
          >
        </p>
      </form>
    </div>
  </div>
</section>
