<section id="subscribe">
  <div class="sub">
    <div class="sub-PreTitle">
      <div class="sub-PreTitle-line">
        <img src="./images/common/line.svg" alt="curved line" />
      </div>
      <div>
        <div class="sub-PreTitle--text">
          <p class="turquoiseText sub-PreTitle--textStyle">Stay in the know</p>
        </div>
        <div>
          <h1 class="textMainSecond sub-PreTitleSecond--textStyle">
            Hear about the latest sneak peaks and spoilers
          </h1>
        </div>
      </div>
    </div>
    <div class="sub-image">
      <img src="./images/subscribe/1png.png" alt="box" />
    </div>
    <div class="sub-imageDesk">
      <img src="./images/subscribe/desktop.png" alt="box" />
    </div>
    <div class="sub-title">
      <h1 class="mainTitleText sub-title--text">
        GET CAUSEBOX DELIVERED DIRECTLY
        <span class="sub--blueText">TO YOUR INBOX!</span>
      </h1>
    </div>
    <form autocomplete="off" class="sub-form">
      <div class="sub-form--image">
        <img src="./images/monthly/monstera.png" alt="monstera" />
      </div>
      <input
        type="email"
        name="email"
        placeholder="Your email adress"
        class="sub-form--input"
      />
      <button type="submit" class="btn sub-form--btn">
        <p class="btnText">SING UP</p>
      </button>
      <p class="sub-policy--text">
        By clicking "sign up" you agree to receive emails from CAUSEBOX and
        accept our web
        <a href="https://www.google.com/" class="sub-policy--link"
          >terms of use</a
        >
        and
        <a href="https://www.google.com/" class="sub-policy--link"
          >privacy and cookie policy</a
        >
      </p>
    </form>
  </div>
</section>
