.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desc-title {
  margin-top: 3.125rem;
  margin-bottom: 1.813rem;
}

.desc-title--text {
  color: #000;
  text-align: center;
  font-family: Advent Pro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}

.desc-image {
  display: flex;
  justify-content: center;
  padding-bottom: 1.875rem;
}

.desc-secondTitle {
  color: #000;
  text-align: center;
  font-family: Advent Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
  padding-right: 1.4rem;
  padding-bottom: 0.5rem;
}

.desc-textWrapper {
  width: clamp(18rem, 90vw, 36rem);
  padding: 0 1rem;
  height: 3.938rem;
}

.desc-linesList {
  display: flex;
  margin: 0 1rem;
  margin: 1.875rem 0;
}

.desc-line {
  width: 5.625rem;
  height: 0.063rem;
  border-radius: 0.063rem;
  background: linear-gradient(141deg, #74e6cf 0%, #c0e594 100%);
}

.desc-curvedLine {
  padding: 0 1.875rem;
}

.desc-btnWrap {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0;
}

.desc-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1280px) {
  .desc {
    flex-direction: row;
  }
  .desc-textWrapper {
    max-width: 18rem;
  }
  .desc-curvedLine {
    display: none;
  }
  .desc-line {
    display: none;
  }
  .desc-Card:last-child {
    margin-bottom: 4rem;
  }
  .desc-Card {
    width: clamp(10rem, 80vw, 17.625rem);
  }
  .desc-btnWrap {
    margin-top: 0;
  }
}
