.header {
  min-height: 3.75rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* padding-right: 275px; */
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  /* .header {
    height: 5rem;
  } */
}
.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
}
@media only screen and (max-width: 1023px) {
  .header-list {
    display: none;
  }
}
.header-item:not(:last-child) {
  padding-right: 5rem;
}

.logo {
  margin: 0.313rem 1rem;
}

.menuBtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
}
