.header {
  height: 3.75rem;
  width: clamp(20rem, 90vw, 41.625rem);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* padding-right: 275px; */
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header-item:not(:last-child) {
  padding-right: 6.25rem;
}

.logo {
  margin: 0.313rem 1rem;
}

.menuBtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
}
