.main {
  height: 28rem;
  background: linear-gradient(159deg, #feca57 0%, #e3aa2d 100%);
}

.mainTextContainer {
  padding-top: 1.25rem;
  padding-bottom: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.secondaryText {
  display: flex;
}

/* ------------ First Images ------------- */

.firstImages-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0 1rem;
  display: flex;
}
.firstImages-item {
  padding-right: 0.5rem;
}

.firstImages-item:nth-child(1) .firstImages-item--image {
  margin-left: -0.3rem;
}
.firstImages-item:nth-child(2) .firstImages-item--image {
  margin-bottom: -0.3rem;
}
.firstImages-item:nth-child(3) .firstImages-item--image {
  margin-bottom: -0.3rem;
}
.firstImages-item--ellipseTr {
  top: 0;
  left: 0;
  position: relative;
}

.firstImages-item--image {
  position: absolute;
  bottom: 0;
}
/* ----------- Lines -------------- */

.lines-list {
  list-style: none;
  padding: 0;
  display: flex;
  position: relative;
  margin-left: 1rem;
}

.lines-item--first {
  position: absolute;
  margin-top: -1.4rem;
  margin-left: 0.7rem;
}
.lines-item--second {
  position: absolute;
  margin-top: -1.6rem;
  margin-left: 8.2rem;
}
.lines-item--third {
  position: absolute;
  margin-top: -2.3rem;
  margin-left: 12.5rem;
}
.lines-item--fourth {
  position: absolute;
  margin-top: -2rem;
  margin-left: 15.3rem;
}

/* ----------- Main Images -------------- */

.mainImages-ellipse {
  position: absolute;
  padding-left: 3.75rem;
  padding-bottom: 8.5rem;
  z-index: 3;
}
.mainImages-ellipseBold {
  z-index: 1;
  position: absolute;
  padding-left: 10.8rem;
  padding-bottom: 8.5rem;
}

.mainImages-boxImage {
  z-index: 2;
  position: relative;
  width: 17.125rem;
  height: 12.563rem;
  margin: 0 auto;
  bottom: 4.5rem;
  left: 0.5rem;
  /* margin-bottom: 1.25rem; */
}

.mainBtn {
  margin-top: 22.5rem;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .lines-item--second {
    margin-left: 7.2rem;
  }
  .lines-item--third {
    margin-left: 11rem;
  }
  .lines-item--fourth {
    margin-left: 13.7rem;
  }
}

@media only screen and (max-width: 1023px) {
  .mainImagesDesk,
  .lines-listDesk {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .secondaryText {
    flex-direction: column;
    margin-left: 12rem;
  }
  .secondaryText--style {
    padding-left: 6rem;
  }

  .lines-list,
  .mainImages {
    display: none;
  }
  .firstImages-list {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }

  .firstImages-item:nth-child(1) .firstImages-item--image {
    margin-left: -1rem;
  }

  .firstImages-item:nth-child(2) .firstImages-item--image {
    margin-bottom: -3rem;
    margin-left: -5rem;
  }
  .firstImages-item:nth-child(2) {
    margin-right: 400px;
  }
  .firstImages-item:nth-child(3) .firstImages-item--image {
    margin-bottom: -1rem;
    margin-left: -4.5rem;
  }
  .firstImages-item:nth-child(4) .firstImages-item--image {
    margin-left: -1.5rem;
  }
  .firstImages-item--ellipseTr {
    position: relative;
    width: 160px;
  }
  .firstImages-item--ellipseTr img {
    width: 125px;
  }
  .firstImages-item--image img {
    width: 330px;
  }
  .firstImages-item:nth-child(1) .firstImages-item--image img {
    width: 175px;
  }
  .firstImages-item:nth-child(4) .firstImages-item--image img {
    width: 175px;
  }

  .firstImages-item--image {
    position: absolute;
    bottom: 0;
  }
  .mainImagesDesk-boxImage {
    width: 500px;
    position: absolute;
    margin-top: -275px;
    margin-left: 300px;
  }

  .lines-listDesk {
    display: block;
    list-style: none;
  }
  .lines-item--first {
    width: 400px;
    margin-left: -3.5rem;
    margin-top: -2.5rem;
  }
  .lines-item--second {
    margin-left: 35rem;
    margin-top: -2.5rem;
  }
  .lines-item--third {
    width: 400px;
    margin-left: 29rem;
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 1280px) {
  .firstImages-list {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  .mainImagesDesk {
    width: 600px;
  }
  .firstImages-item {
    padding-right: 35px;
  }
  .firstImages-item:nth-child(1) .firstImages-item--image {
    margin-left: -1rem;
  }

  .firstImages-item:nth-child(2) .firstImages-item--image {
    margin-top: -2rem;
    margin-left: -5.5rem;
  }
  .firstImages-item:nth-child(2) {
    margin-right: 400px;
  }
  .firstImages-item:nth-child(3) .firstImages-item--image {
    margin-top: -1.5rem;
    margin-left: -4.5rem;
  }
  .firstImages-item:nth-child(4) .firstImages-item--image {
    margin-left: -1.5rem;
  }
  .firstImages-item--ellipseTr {
    position: relative;
    width: 160px;
  }
  .firstImages-item--ellipseTr img {
    width: 250px;
  }
  /* .firstImages-item--image img {
    width: 400px;
  } */
  .firstImages-item:nth-child(1) .firstImages-item--image img {
    width: 200px;
  }
  .firstImages-item:nth-child(2) .firstImages-item--image img {
    width: 400px;
  }
  .firstImages-item:nth-child(3) .firstImages-item--image img {
    width: 400px;
  }
  .firstImages-item:nth-child(4) .firstImages-item--image img {
    width: 200px;
  }

  .mainImagesDesk-boxImage {
    margin-top: -300px;
    margin-left: 360px;
  }
  .lines-item--first {
    width: 500px;
    margin-left: -3.5rem;
    margin-top: -3rem;
  }

  .lines-item--third {
    width: 500px;
    margin-left: 30.5rem;
    margin-top: -3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .lines-item--first {
    margin-left: -3rem;
    margin-top: -3rem;
  }
  .lines-item--second {
    margin-left: 30rem;
    margin-top: -1rem;
  }

  .lines-item--third {
    margin-left: 27.5rem;
    margin-top: -2rem;
  }
}
@media only screen and (min-width: 1680px) {
  .mainImagesDesk-boxImage {
    width: 600px;
    position: absolute;
    margin-top: -360px;
    margin-left: 475px;
  }

  .firstImages-item--ellipseTr {
    position: relative;
    width: 250px;
  }
  .firstImages-item--ellipseTr img {
    width: 200px;
  }
  .firstImages-item:nth-child(1) .firstImages-item--image img {
    width: 300px;
  }
  .firstImages-item:nth-child(2) .firstImages-item--image img {
    width: 500px;
  }
  .firstImages-item:nth-child(3) .firstImages-item--image img {
    width: 500px;
  }
  .firstImages-item:nth-child(4) .firstImages-item--image img {
    width: 300px;
  }

  .lines-item--first {
    margin-left: 1.5rem;
    margin-top: -2.5rem;
  }
  .lines-item--second {
    margin-left: 35rem;
    margin-top: -1rem;
  }

  .lines-item--third {
    margin-left: 34.5rem;
    margin-top: -1rem;
  }
}
@media only screen and (min-width: 1920px) {
  .lines-item--first {
    margin-left: 2rem;
    margin-top: -2.5rem;
  }
  .lines-item--second {
    margin-left: 32rem;
  }

  .lines-item--third {
    margin-left: 30.5rem;
  }
}
