.main {
  height: 28rem;
  background: linear-gradient(159deg, #feca57 0%, #e3aa2d 100%);
}

.mainTextContainer {
  padding-top: 1.25rem;
  padding-bottom: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.secondaryText {
  display: flex;
}

/* ------------ First Images ------------- */

.firstImages-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin: 0 1rem;
  display: flex;
}
.firstImages-item {
  padding-right: 0.5rem;
}

.firstImages-item:nth-child(1) .firstImages-item--image {
  left: -0.3rem;
}
.firstImages-item:nth-child(2) .firstImages-item--image {
  top: -0.3rem;
  left: 4.3rem;
}
.firstImages-item:nth-child(3) .firstImages-item--image {
  top: -0.3rem;
  left: 9.3rem;
}
.firstImages-item--ellipseTr {
  top: 0;
  left: 0;
  position: relative;
}

.firstImages-item--image {
  position: absolute;
  bottom: 0;
}
/* ----------- Lines -------------- */

.lines-list {
  list-style: none;
  padding: 0;
  display: flex;
  position: relative;
  margin-left: 1rem;
}

.lines-item--first {
  position: absolute;
  top: -1.4rem;
  left: 0.7rem;
}
.lines-item--second {
  position: absolute;
  top: -1.6rem;
  left: 8.2rem;
}
.lines-item--third {
  position: absolute;
  top: -2.3rem;
  left: 12.5rem;
}
.lines-item--fourth {
  position: absolute;
  top: -2rem;
  left: 15.3rem;
}

/* ----------- Main Images -------------- */

.mainImages-ellipse {
  position: absolute;
  padding-left: 3.75rem;
  padding-bottom: 8.5rem;
  z-index: 3;
}
.mainImages-ellipseBold {
  z-index: 1;
  position: absolute;
  padding-left: 10.8rem;
  padding-bottom: 8.5rem;
}

.mainImages-boxImage {
  z-index: 2;
  position: relative;
  width: 17.125rem;
  height: 12.563rem;
  margin: 0 auto;
  bottom: 4.5rem;
  left: 0.5rem;
  /* margin-bottom: 1.25rem; */
}

.mainBtn {
  margin-top: 22.5rem;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  .firstImages-item:nth-child(3) .firstImages-item--image {
    left: 8.5rem;
  }

  .lines-item--second {
    left: 7.2rem;
  }
  .lines-item--third {
    left: 11rem;
  }
  .lines-item--fourth {
    left: 13.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .lines-list {
    display: none;
  }
}
