#monthly {
  background-color: #f0f8f6;
}
.monthly {
  padding: 3.125rem 1.625rem 1.625rem 1.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.month-info--text {
  width: clamp(16.75rem, 90%, 24rem);
}

.monthImages {
  display: flex;
  position: relative;
}

.monthDeskImages {
  margin-left: 2rem;
  position: relative;
}
.monthFirstImage {
  margin-right: 0.5rem;
  /* position: absolute; */
  z-index: 200;
}
.monthSecondImage {
  z-index: 200;
  margin-right: 3.125rem;
  /* position: absolute; */
}

.monthEllipse {
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  margin: 12rem 0 0 14rem;
}

.monthTurEllipse {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 14rem 0 0 15.8rem;
}

.btnMonthWrap {
  margin-top: 1.25rem;
}

.monthLine {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .monthEllipse {
    margin: 10.5rem 0 0 12.5rem;
    z-index: 900;
  }
  .monthTurEllipse {
    margin: 12.5rem 0 0 14rem;
    z-index: 900;
  }
}

/* ---------------------- */
@media only screen and (max-width: 1023px) {
  .monthDeskImages,
  .monthPreImages-monstera {
    display: none;
  }
  .month-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .monthLine {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
  }
}

/* ---------------------- */

@media only screen and (min-width: 1024px) {
  /* .monthImagesDesk {
    display: flex;
    position: relative;
  } */

  .month-title {
    display: flex;
    align-items: center;
  }
  .monthLine {
    padding-right: 1.25rem;
  }
  .month-info--text {
    max-width: 32.5rem;
  }
  .month-info--textStyle {
    text-align: start;
  }
  .monthly {
    flex-direction: row;
    padding: 4rem 4rem;
  }
  .monthImages {
    display: none;
  }
  .monthDeskImages {
    display: flex;
    position: relative;
    z-index: 2;
    width: 800px;
  }
  .monthLine {
    margin-bottom: 0;
  }
  .monthImges-bag {
    position: absolute;
  }
  .monthDesk-btn {
    position: relative;
    width: 20rem;
  }
  .btnMonthWrap {
    position: absolute;
    z-index: 100;
  }
  .monthPreImages-monstera {
    z-index: 3;
    position: absolute;
    margin-left: 8.5rem;
    margin-top: -1.5rem;
  }
  .month-info {
    margin-bottom: 3.75rem;
  }

  .monthPreImages-jar img,
  .monthPreImages-ledder img,
  .monthPreImages-lines--top img,
  .monthPreImages-lines--bottom img {
    width: 80px;
  }
  .monthPreImages-jar {
    transform: rotate(248deg);
    position: absolute;
    margin-top: 9.5rem;
    margin-left: -6rem;
  }
  .monthPreImages-ledder {
    transform: rotate(340deg);
    position: absolute;
    margin-top: 6rem;
    margin-left: -6rem;
  }

  .monthPreImages-bag {
    position: absolute;
    margin-top: 2.5rem;
    margin-left: -5.5rem;
    z-index: 300;
  }
  .monthPreImages-lines--top {
    margin-top: 8rem;
    margin-left: -2.5rem;
  }
  .monthPreImages-lines--bottom {
    margin-left: -3.5rem;
    margin-top: 1rem;
  }
  .monthPreImages-litleEllipse {
    z-index: 1;
    position: absolute;
    margin-top: -1.2rem;
    margin-left: -0.2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .monthPreImages-monstera {
    margin-left: 7.5rem;
  }
  .monthPreImages-jar img,
  .monthPreImages-ledder img,
  .monthPreImages-lines--top img,
  .monthPreImages-lines--bottom img {
    width: 125px;
  }

  .monthPreImages-bag img {
    width: 300px;
  }
  .monthPreImages-jar {
    margin-top: 9.5rem;
    margin-left: -7rem;
  }
  .monthPreImages-ledder {
    margin-top: 4.5rem;
    margin-left: -7rem;
  }

  .monthPreImages-bag {
    margin-top: 0.5rem;
    margin-left: -5.5rem;
  }
  .monthPreImages-litleEllipse {
    margin-left: 0.8rem;
  }
}
@media only screen and (min-width: 1366px) {
  .monthPreImages-monstera {
    margin-left: 6.5rem;
  }
  .monthPreImages-bag {
    margin-left: -5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .monthPreImages-monstera {
    margin-left: 6rem;
    margin-top: -1rem;
  }
  .monthPreImages-bag {
    margin-top: 1.5rem;
    margin-left: -4.75rem;
  }
  .monthPreImages-ledder {
    margin-top: 5.5rem;
  }
}
@media only screen and (min-width: 1680px) {
  .monthPreImages-monstera {
    margin-top: -0.5rem;
  }
  .monthPreImages-bag {
    margin-left: -3.5rem;
  }
  .monthPreImages-ledder {
    margin-left: -5.5rem;
  }
  .monthPreImages-jar {
    margin-left: -5.5rem;
  }
  .monthPreImages-lines--top {
    margin-left: -1.5rem;
  }
  .monthPreImages-lines--bottom {
    margin-left: -1.5rem;
  }
  .monthPreImages-litleEllipse {
    margin-left: 1.4rem;
    margin-top: -1rem;
  }
}
@media only screen and (min-width: 1920px) {
  .monthPreImages-monstera {
    margin-left: 5rem;
  }
  .monthPreImages-bag {
    margin-left: -3rem;
  }
  .monthPreImages-ledder {
    margin-left: -5rem;
    margin-top: 5rem;
  }
  .monthPreImages-jar {
    margin-left: -5rem;
    margin-top: 8.5rem;
  }
  .monthPreImages-lines--top {
    margin-left: -1.5rem;
    margin-top: 7rem;
  }
  .monthPreImages-lines--bottom {
    margin-left: -1.5rem;
  }
  .monthPreImages-litleEllipse {
    margin-top: -0.75rem;
  }
}

/* 

.monthPreImages-lines--top {
  position: absolute;
}

.monthPreImages-lines--bottom {
  position: absolute;
} */
