#monthly {
  background-color: #f0f8f6;
}
.monthly {
  padding: 3.125rem 1.625rem 1.625rem 1.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.month-info--text {
  width: clamp(16.75rem, 90%, 24rem);
  /* height: 14.438rem; */
}

.monthImages {
  display: flex;
  position: relative;
  /* margin: 0 1rem; */
}

.monthFirstImage {
  margin-right: 0.5rem;
  min-width: 140px;
}
.monthSecondImage {
  min-width: 140px;
}

.monthEllipse {
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  margin: 12rem 0 0 14rem;
}

.monthTurEllipse {
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 14rem 0 0 15.8rem;
}

.btnMonthWrap {
  margin-top: 1.25rem;
}

.monthLine {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .monthEllipse {
    margin: 10.5rem 0 0 12.5rem;
  }
  .monthTurEllipse {
    margin: 12.5rem 0 0 14rem;
  }
}
@media only screen and (min-width: 1024px) {
  .monthEllipse {
    display: none;
  }
  .monthTurEllipse {
    /* margin: 12.5rem 0 0 14rem; */
  }
}
