.news {
  padding-top: 3.125rem;
}
.newsTitle {
  margin-bottom: 1.563rem;
}
.newsCard {
  border: 1px solid #f0f8f6;
}
.newsCard--image {
  width: calc(100vw - 3rem);
}

.newsCard-info {
  padding: 1.563rem 1.563rem 1.875rem 1.563rem;
}

.newsCard-info--title {
  color: #000;
  font-family: Advent Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.056rem;
}

.newsCard-info--text {
  text-align: start;
}

.newsCard-btn--style {
  width: 7rem;
  height: 1.875rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.newsCard-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
