.news {
  padding-top: 3.125rem;
}
.newsTitle {
  margin-bottom: 1.563rem;
}
.newsCard {
  border: 1px solid #f0f8f6;
}
.newsCard--image {
  width: calc(100vw);
}

.newsCard-info {
  padding: 1.563rem 1.563rem 1.875rem 1.563rem;
}

.newsCard-info--title {
  color: #000;
  font-family: Advent Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.056rem;
}

.newsCard-info--text {
  text-align: start;
}

.newsCard-btn--style {
  width: 7rem;
  height: 1.875rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.newsCard-btn {
  display: flex;
  justify-content: flex-end;

  /* padding-top: 1rem; */
  margin-top: 4rem;
  margin-left: 6.5rem;
}

.desktopNews-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
}

.newsLine {
  margin-top: 2.625rem;
  margin-bottom: 1.875rem;
}

@media only screen and (max-width: 1023px) {
  .desktopNews-list,
  .newsBgLine {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #news {
    padding: 0;
  }
  .news {
    position: relative;
    z-index: 5;
  }
  .newsBgLine {
    z-index: 1;
    position: absolute;
    margin-top: 50vh;
  }
  .newsCard--image {
    width: calc(100vw - 10rem);
  }
  .swiper {
    display: none;
  }
  .newsCard {
    position: relative;
    width: 387px;
    margin-right: 1.813rem;
    z-index: 5;
  }
  .newsCard-info {
    background-color: #fff;
  }
  .newsCard-info--title {
    font-size: 1.25rem;
  }

  .newsCard-info--text {
    font-size: 0.875rem;
    max-height: 3rem;
    line-height: 1.313rem;
  }
  .newsCard-info--title {
    height: 2rem;
  }
}
