#posts {
  background-color: #f0f8f6;
}
.posts {
  padding: 3.125rem 1rem 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobPostImages-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mobPostImages-item {
  padding: 0 0.5rem 0.5rem 0;
}

.postTitle {
  margin: 0.625rem 0 1rem 0;
}
@media only screen and (max-width: 1024px) {
  .post-preImages {
    display: none;
  }
  .postImages-list {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .mobPostImages-list {
    display: none;
  }
  .post-preImages {
    position: absolute;
    display: flex;
    /* flex-direction: column-reverse; */
  }

  .postPreImages-text {
    transform: rotate(90deg);
  }

  .postPreImages-textStyled {
    color: #fff;
    font-family: Bebas Neue;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* opacity: 0.5; */
    margin: 0 auto;
    padding: 0;
  }
}

.postImages-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.postImages-item {
  padding: 0 0.5rem 0.5rem 0;
}
