.reviews {
  padding: 3.125rem 0 2.125rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rev-title {
  margin-top: 0.625rem;
}

.revCard {
  width: clamp(18rem, 75vw, 36rem);

  margin-top: 0.563rem;
}

.revCard-wrap {
  display: flex;
  margin-right: 2rem;
}

.revCard-images {
  position: relative;
  margin-right: 3.063rem;
}

.revCard-images--photo {
  position: absolute;
  width: 3.875rem;
  height: 4.313rem;
  margin: -1.4rem 0 0 1.8rem;
}

.photo {
  border-radius: 50%;
}

.revCard-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.563rem;
}

.revCard-info--nameText {
  color: #000;
  text-align: center;
  font-family: Advent Pro;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.056rem;
  margin: 0 auto;
}
.revCard-infoRate {
  display: flex;
  align-items: center;
}

.revCard-infoRate--text {
  color: #e5e5e5;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  padding-left: 0.313rem;
}

.rev-text {
  width: clamp(18rem, 75vw, 36rem);
  height: 11rem;
  overflow-y: scroll;
  color: aqua;
  transition: 0.5s;
}
::-webkit-scrollbar {
  width: 0.313rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset -1px 0 #74e6cf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(116, 230, 207, 1) 35%,
    rgba(192, 229, 148, 1) 100%
  );
  border-radius: 10px;
}

.rev-text--style {
  text-align: start;
}

.revCard-arrows {
  display: flex;
  margin-top: 0.19rem;
}

.revCard-arrows--left {
  cursor: pointer;
  margin-right: 0.9rem;
  border: none;
  background-color: transparent;
}
.revCard-arrows--right {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.revCard-infoDesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.563rem;
}

@media only screen and (max-width: 1023px) {
  .revCard-imagesDesk,
  .revCard-infoDesktop,
  .revCard-deskQuotes {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .revCard-images,
  .revCard-info {
    display: none;
  }
  .revCard-wrap {
    flex-direction: column;
  }
  .revCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .rev-text {
    width: clamp(14rem, 75vw, 25rem);
  }

  .revCard-imagesDesk {
    width: 20rem;
  }
  .reviews {
    align-items: flex-start;
    padding-left: 13rem;
  }
  .rev-title--text {
    color: #212121;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0 auto;
  }

  .revCard-deskQuotes {
    position: absolute;
    width: 10rem;
    margin: -6.5rem 0 0 -8.5rem;
  }

  .revCard-arrows {
    margin-left: 16rem;
  }
}
