#subscribe {
  background-color: #f0f8f6;
}

.sub {
  padding: 3.125rem 1rem 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-PreTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-PreTitle--text {
  margin-top: 0.625rem;
  margin-bottom: 1rem;
}

.sub--blueText {
  color: #01a3a4;
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-form--input {
  width: clamp(18rem, 75vw, 36rem);
  height: 3.75rem;
  padding: 1.25rem 0 1.25rem 1rem;
  border: 1px #01a3a4;
  margin-bottom: 1.25rem;
}

.sub-policy--text {
  color: #c4c4c4;
  text-align: center;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.sub-policy--link {
  color: #c4c4c4;
  cursor: pointer;
}

.subModal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 0 20px;
}
.subModal-image {
  background-color: #f0f8f6;
  display: flex;
  justify-content: center;
}
.subModal-title--text {
  color: #01a3a4;
  font-family: Advent Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subModal-line {
  padding: 19px 0 30px 0;
}
.subModal-titleStyle {
  font-size: 24px;
}
.subModal-textStyle {
  color: #000;
  text-align: center;
  font-family: Advent Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
  padding-bottom: 24px;
}

.subModal-close {
  width: 288px;
  height: 60px;
  border-radius: 0px 0px 20px 20px;
  border-color: #01a3a4;
  background-color: #01a3a4;
}
@media only screen and (max-width: 1023px) {
  .sub-imageDesk,
  .sub-form--image {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .subModal {
    display: flex;
  }
  .subModal-image {
    display: flex;
    align-items: center;
    width: 250px;
  }
  .subModal-image img {
    width: 214px;
    height: 351px;
  }
  .subModal-info {
    justify-content: center;
  }
  .subModal-line {
    padding: 20px 0;
  }
  .subModal-titleStyle,
  .subModal-title--text {
    font-size: 48px;
  }
  .subModal-textStyle {
    font-size: 24px;
  }
  .subModal-close {
    width: 280px;
    height: 60px;
    border-radius: 3.125rem;
    border-color: transparent;
    background: #01a3a4;
  }
  /* ------------modal--------------------- */

  .sub-image {
    display: none;
  }
  .sub {
    align-items: flex-start;
    margin-left: 5rem;
    padding-bottom: 4rem;
  }
  .sub-imageDesk {
    position: absolute;
    margin: 4rem 0 0 22rem;
    max-width: 25rem;
  }
  .sub-PreTitle {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
  .sub-PreTitle--textStyle {
    text-align: start;
  }
  .sub-PreTitle-line {
    padding-top: 2.5rem;
    padding-right: 1rem;
  }
  .sub-PreTitleSecond--textStyle {
    color: #000;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
  }
  .sub-title {
    max-width: 30rem;
  }
  .sub-title--text {
    font-size: 2.5rem;
    text-align: start;
  }

  .sub-form {
    margin-top: 2rem;
    align-items: flex-start;
    max-width: 24rem;
  }
  .sub-form--input {
    position: relative;
    width: clamp(18rem, 75vw, 24rem);
    height: 4rem;
    padding-right: 11.5rem;
    margin-bottom: 10px;
  }
  .sub-form--btn {
    width: 11rem;
    height: 3rem;

    position: absolute;
    margin-left: 13rem;
    margin-top: 0.5rem;
  }

  .sub-policy--text {
    margin: 0;
    text-align: start;
  }
  .sub-form--image {
    position: absolute;
    width: 8rem;
    transform: rotate(180deg);
    margin: -3rem 0 0 -4rem;
  }
}
